/* Common styles for all project pages */
.container {
    max-width: 800px;
    margin: 0 auto;
}

.content a {
    color: rgb(31, 112, 193);
    text-decoration: none;
}

.content a:hover {
    color: rgb(14, 71, 129);
    transition: color 0.2s;
}

.subheader {
    margin-top: 3rem;
}

@media (max-width: 768px) {
    .title {
        font-size: 3rem;
    }

    .subheader {
        font-size: 2rem;
    }
}
