/* Home.module.css */

.homeContainerWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    width: 100%;
    box-sizing: border-box;
  }
  
  .homeContainer {
    display: flex;
    align-items: center;
    gap: 3rem;
    max-width: 800px;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    max-width: 500px;
  }
  
  .content h1 {
    font-size: 4rem;
    margin-bottom: -1rem;
  }
  
  .content h2 {
    margin-bottom: 1rem;
    font-size: 1.4rem;
    font-style: italic;
    color: rgb(95, 95, 95);
  }
  
  .iconLinks {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
  }
  
  .icon {
    width: 30px;
    height: 30px;
    transition: transform 0.2s;
  }
  
  .icon:hover {
    transform: scale(1.1);
  }
  
  .image {
    width: 300px;
    height: auto;
    border-radius: 4%;
  }
  
  /* New paragraph section aligned to the left */
  .aboutSection {
    max-width: 800px;
    width: 100%; /* Ensures it takes up full width */
    text-align: left; /* Aligns text to the left */
    margin-top: 2rem;
    line-height: 1.6;
    color: #333;
    font-size: 1.1rem;
  }
  