.homeContainerWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding: 0rem 1rem;
}

.homeContainer {
    display: flex;
    align-items: center;
    gap: 3rem;
    max-width: 1000px;
    margin-top: 1rem;
}

.content {
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 500px;
}

.content h1 {
    text-align: right;
}

.rotatingText {
    color: rgb(145, 145, 145);
    margin-bottom: 1rem;
    min-height: 1.5em;
    font-size: 1.8rem;
}

.visible {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.hidden {
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.content h2 {
    margin-bottom: 1rem;
    font-size: 2rem;
    font-style: italic;
    color: rgb(132, 132, 132);
}

.iconLinks {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
}

.icon {
    width: 30px;
    height: 30px;
    transition: transform 0.2s ease-in-out, opacity 0.1s ease-in-out;
    opacity: 20%;
}

.icon:hover {
    transform: scale(1.1);
    opacity: 50%;
}

.image {
    width: 250px;
    height: auto;
    border-radius: 4%;
}

.aboutSection {
    max-width: 800px;
    width: 100%;
    text-align: left;
    margin-top: 2rem;
    line-height: 1.6;
    color: #333;
    font-size: 1.2rem;
}

.aboutSection a {
    color: rgb(31, 112, 193);
    text-decoration: none;
}

.aboutSection a:hover {
    color: rgb(14, 71, 129);
    transition: color 0.2s;
}

@media (max-width: 768px) {
    .homeContainer {
        flex-direction: column;
        gap: 1.5rem;
    }

    .content {
        align-items: center;
        text-align: center;
        max-width: 100%;
    }

    .content h1 {
        text-align: center;
        font-size: 3rem;
    }

    .content h2 {
        font-size: 1.5rem;
    }

    .rotatingText {
        font-size: 1.5rem;
    }
}