.aboutContainer {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 1rem;
}

.title {
    margin-bottom: 2rem;
}

.aboutContainer p {
    margin-bottom: 1.5rem;
}

.aboutContainer a {
    color: rgb(31, 112, 193);
    text-decoration: none;
}

.aboutContainer a:hover {
    color: rgb(14, 71, 129);
    transition: color 0.2s;
}

.iconLinks {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    margin-bottom: 1rem;
    width: 100%;
}

.icon {
    width: 30px;
    height: 30px;
    transition: transform 0.2s ease-in-out, opacity 0.1s ease-in-out;
    opacity: 20%;
}

.icon:hover {
    transform: scale(1.1);
    opacity: 50%;
}

.rotatingText {
    font-style: italic;
    color: #666;
    margin-top: 2rem;
    text-align: center;
    min-height: 1.5em;
    font-size: 1.5rem;
}

.visible {
    opacity: 0.8;
    transform: translateY(0);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.hidden {
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

@media (max-width: 768px) {
    .title {
        font-size: 3rem;
    }
}
