/* Navbar.module.css */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: auto;
    display: flex;
    justify-content: center; /* Centers the links in the middle */
    align-items: center;
    gap: 5rem; /* Controls the space between the links */
    padding: 1.2rem 2rem;
    background: rgba(255, 255, 255, 0.1); /* Semi-transparent background */
    backdrop-filter: blur(10px); /* Adds the glass-like blur effect */
    -webkit-backdrop-filter: blur(10px); /* For Safari support */
    border: 1px solid rgba(255, 255, 255, 0.2); /* Subtle border for definition */
    border-radius: 12px; /* Rounded corners for a modern look */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Adds a soft shadow */
    z-index: 1000; /* Ensures the navbar stays above other elements */

}

.navLink {
    font-family: 'Space Grotesk', sans-serif;
    color: #9d9d9d;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.2s;
}

.navLink:hover {
    color: #555; /* Optional: Hover color to provide feedback */
    font-weight: 700;
}
